

.login_cadastro {

  position: fixed;

  top: 0;

  left: 0;

  width: 97%;

  padding: 10px 20px 10px 20px;

  background-color: rgba(26, 83, 62, 0.7);

  border-radius: 0px 0px 15px 15px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  z-index: 100;

}

.navbar a {

  position: relative;

  font-size: 18px;

  color: #ffffff;

  font-weight: 500;

  text-decoration: none;

  margin-left: 30px;

}

.icone {

  width: 5%;

  height: 5%;

  padding: 0;

  margin: 0;

}

.ladoimg{

  font-size: 20px;

  color: #ffffff;

  margin: 0 800px 0 0;


}

.container
{
  background-color: rgb(5, 5, 5, 0.7);
  border-radius: 15px;
  color: white;
  padding: 25px;
  
}

body
{
  
  top: 50%;
  left: 50%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fde7d8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.form-header
{

  margin-bottom: 0.8rem;
  display : flex;
  justify-content: space-between;

}

.login-button
{

  display : flex;
  align-items: center;

}

.login-button button
{

  border : none;
  background-color: white;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;


}

.login-button botton a
{

  text-decoration : none;
  font-weight : 500;


}

.input-group
{

  flex-wrap : wrap;
  justify-content: space-between;
  padding: 0.9rem 0.9;

}

.input-box
{

  display: flex;
  flex-direction: column;
  margin-bottom: 0%;


}

.input-box input
{

  margin : 0.3rem 0;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px black;

}

a {

  text-decoration: none;
  font-style: italic;
  font-size: 18px;
  color: black;

}

h3
{
  
  font-size: 18px;
  text-decoration: none;

}