body {
    font-family: Arial, sans-serif;
    background-color: #fde7d8;
    margin: 0px;
    padding: 20px;
}

.login_cadastro {

    position: fixed;
  
    top: 0;
  
    left: 0;
  
    width: 97%;
  
    padding: 10px 20px 10px 20px;
  
    background-color: rgba(26, 83, 62, 0.7);
  
    border-radius: 0px 0px 15px 15px;
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    z-index: 100;
  
  }
  
  .navbar a {
  
    position: relative;
  
    font-size: 18px;
  
    color: #ffffff;
  
    font-weight: 500;
  
    text-decoration: none;
  
    margin-left: 30px;
  
  }
  
  .icone {
  
    width: 5%;
  
    height: 5%;
  
    padding: 0;
  
    margin: 0;
  
  }
  
  .ladoimg{
  
    font-size: 20px;
  
    color: #ffffff;
  
    margin: 0 800px 0 0;
  
  
  }

.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.btn {
    background-color: #5451bb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #5451bb;
}

.routine-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.routine-item select,
.routine-item input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.routine-item button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #5451bb;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.routine-item button:last-child {
    background-color: #f44336;
}

.routine-item button:hover {
    background-color: #5451bb;
}

.routine-item button:last-child:hover {
    background-color: #e53935;
}

.add-habit-btn {
    margin-top: 10px;
}

.macronutrient-analysis {
    margin-top: 20px;
}

.macronutrient-analysis table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.macronutrient-analysis th,
.macronutrient-analysis td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.macronutrient-analysis th {
    background-color: #f9f9f9;
}

.macronutrient-analysis .btn-add {
    background-color: #5451bb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.macronutrient-analysis .btn-add:hover {
    background-color: #5451bb;
}

.nutrient-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nutrient-chart img {
    width: 150px;
    height: 150px;
}

.nutrient-details {
    list-style-type: none;
    padding: 0;
}

.nutrient-details li {
    margin-bottom: 5px;
}
